/* stylelint-disable selector-list-comma-newline-after */

@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');

body {
  background-color: #463b1b;
  font-family: 'Ubuntu Mono', monospace;
  line-height: 2;
}

a {
  text-decoration: none;
}

.link-secondary {
  color: #df81fc;
}

.blog-header {
  background-color: #6cdefd;
}

.blog-header-logo {
  margin-left: 15px;
  font-size: 2.2rem;
  color: #1c1c1c;
}

.p-2 {
  margin-left: 15px;
  color: #070825;
}

.nav-scroller {
  background-color: #f78a1f;
  color: #070825;
}

.display-4 {
  font-size: 2.5rem;
}
@media (min-width: 768px) {
  .display-4 {
    font-size: 3rem;
  }
}

.flex-auto {
  flex: 0 0 auto;
}

.h-250 { height: 250px; }
@media (min-width: 768px) {
  .h-md-250 { height: 250px; }
}

.container {
  margin: 35px auto;
}

/* Pagination */
.blog-pagination {
  margin-bottom: 4rem;
}

/*
 * Blog posts
 */

.col-md-8 {
  color: #e5e5e5;
}

.col-md-4 {
  background-color: #241b00;
}
.blog-post {
  margin-bottom: 4rem;
}
.blog-post-title {
  font-size: 2.5rem;
}
.blog-post-meta {
  margin-bottom: 1.25rem;
  color: #fe16bb;
}

.fst-normal {
  color: #f78a1f;
}

.mb-0 {
  color: #FFF;
}




/*
 * Footer
 */
.blog-footer {
  padding: 2.5rem 0;
  color: #727272;
  text-align: center;
  background-color: #131313;
  border-top: .05rem solid #e5e5e5;
}
.blog-footer p:last-child {
  margin-bottom: 0;
}
